name: Build online installer

on:
  workflow_dispatch:
    inputs:
      sign:
        description: Sign
        type: boolean
        default: true

jobs:
  build:
    name: Build online installer
    runs-on: [ self-hosted, Windows, onlineinstaller ]
    steps:

    - name: Set Variables
      run: |
        $ref = "${{ github.ref_name }}"
        $version = switch -Regex ($ref) {
          "^release/v\d+\.\d+\.\d+" { $ref -replace "^release/v" }
          "^hotfix/v\d+\.\d+\.\d+"  { $ref -replace "^hotfix/v" }
          "^v\d+\.\d+\.\d+"         { $ref -replace "^v" }
          default                   { "0.0.0" }
        }
        write "PACKAGE=ONLYOFFICEDesktopInstaller" >> $env:GITHUB_ENV
        write "PRODUCT_VERSION=$version" >> $env:GITHUB_ENV
        write "BUILD_NUMBER=${{ github.run_number }}" >> $env:GITHUB_ENV

    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: desktop-onlineinstaller

    - name: Checkout build_tools repo
      uses: actions/checkout@v4
      with:
        repository: ONLYOFFICE/build_tools
        ref: master
        path: build_tools

    - name: Checkout core repo
      uses: actions/checkout@v4
      with:
        repository: ONLYOFFICE/core
        ref: master
        path: core

    - name: Checkout desktop-apps repo
      uses: actions/checkout@v4
      with:
        repository: ONLYOFFICE/desktop-apps
        ref: master
        path: desktop-apps

    - name: Build
      working-directory: desktop-onlineinstaller
      run: |
        write "::group::Clean"
        if (Test-Path build) {
          ri -Force -Recurse -Verbose -Path build
        }
        write "::endgroup::"

        write "::group::Config"
        if (-not $env:QT_PATH) {
          $env:QT_PATH = "C:\Qt\5.6.3"
        }
        write @"
        module=`"onlineinstaller`"
        platform=`"win_32_xp`"
        config=`"release`"
        branch=`"master`"
        update=`"false`"
        clean=`"false`"
        qt-dir=`"$env:QT_PATH`"
        qt-dir-xp=`"$env:QT_PATH`"
        "@ | Out-File -Encoding UTF8 config
        gc config
        write @"
        PRODUCT_VERSION = $env:PRODUCT_VERSION
        BUILD_NUMBER    = $env:BUILD_NUMBER
        QT_PATH         = $env:QT_PATH
        "@
        write "::endgroup::"

        write "::group::Build"
        & python make.py
        if (-not $?) { throw }
        cp build\win_32\xp\online-installer.exe build\$env:PACKAGE.exe
        gci "build\$env:PACKAGE.exe" | % { $_.VersionInfo } | select *
        write "::endgroup::"

    - name: Sign
      if: inputs.sign
      working-directory: desktop-onlineinstaller/build
      run: |
        & signtool sign /v /a `
          /n "Ascensio System SIA" `
          /t http://timestamp.digicert.com `
          "$env:PACKAGE.exe"
        if (-not $?) { throw }
        & signtool verify /q /pa /all "$env:PACKAGE.exe"
        if (-not $?) { throw }

    - name: Archive artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.PACKAGE }}
        path: desktop-onlineinstaller/build/${{ env.PACKAGE }}.exe
        if-no-files-found: error
